# Add any directories, files, or patterns you don't want to be tracked by version control
/*
!/README.md
!/.gitignore
!/chapter*/

/chapter*/*/
!/chapter*/logRegresion
!/chapter*/svm
!/chapter*/util

/chapter*/logRegresion/*
!/chapter*/logRegresion/*.py
/chapter*/svm/*
!/chapter*/svm/*.py
/chapter*/util/*
!/chapter*/util/*.py
